@model EmailModel

<form asp-action="Send" asp-controller="Home" method="post">
    <div style=" display: inline-block;">
        <div class="form-group">

            @Html.TextBoxFor(m => m.YourEmail)
            <hr>
            @Html.TextBoxFor(m => m.Subject)
            <hr>
            @Html.TextBoxFor(m => m.Message)
            <hr>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Send</button>

        </div>
    </div>
</form>
