@model ContosoMovies.Models.MovieGenreViewModel

@{
    ViewData["Title"] = "Index";
}

<p>
    <h1>All Films</h1>
</p>

<!--Here ew have selet list wich genres and all ohter-->

<form asp-controller="Movies" asp-action="Index" method="get">
    <p>

        <select asp-for="MovieGenre" asp-items="Model.Genres">
            <option value="">All</option>
        </select>

        Title: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<div class="row mt-5 mb-2">
    @{
        foreach (Movie movie in Model.Movies)
        {
            @Html.Partial("AllMoviesBarPartial", movie)
        }
    }
</div>